// Hamburger
// ==================================================
.hamburger {
    padding: var(--paddingY) var(--paddingX);
    display: inline-block;
    cursor: pointer;

    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;

    // Normalize (<button>)
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;

    &:active {
        background-color: transparent !important;
    }

    &:hover {
        opacity: var(--opacity);
    }

    &.is-active {
        &:hover {
            opacity: var(--opacity-active);
        }

        .hamburger-inner,
        .hamburger-inner::before,
        .hamburger-inner::after {
            background-color: var(--color-active);
        }
    }
}

.hamburger-box {
    width: var(--layer-width);
    height: calc(var(--layer-height) * 3 + var(--layer-spacing) * 2);
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: var(--layer-height) / -2;

    &,
    &::before,
    &::after {
        width: var(--layer-width);
        height: var(--layer-height);
        background-color: var(--color);
        border-radius: var(--border-radius);
        position: absolute;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease;
    }

    &::before,
    &::after {
        content: '';
        display: block;
    }

    &::before {
        top: calc((var(--layer-spacing) + var(--layer-height)) * -1);
    }

    &::after {
        bottom: calc((var(--layer-spacing) + var(--layer-height)) * -1);
    }
}
